@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 0.625rem;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
}

.centerComponent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CARD COMPONENT */

.card {
  padding: 2em 0;
}

.card:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
}

.card .img-box {
  flex: 2;
  margin-right: 1em;
  user-select: none;
}

.card img {
  width: 125px;
  height: 168px;
}

.card-content {
  flex: 5;
}

.location-container.f-center {
  justify-content: flex-start;
}

.card-location {
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-left: 0.7em;
}

.location-icon {
  color: #f55a5a;
}

.location-link {
  color: #918e9b;
  padding-left: 1.5em;
}

.card-title {
  font-size: 1.56rem;
  margin: 0.1em 0 0.4em;
}

.card-date {
  margin-bottom: 0.8em;
}

.card-text {
  line-height: 150%;
  letter-spacing: 1px;
}
